html {
  scroll-behavior: smooth;
}

#home::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: url('../assets/bg-landing.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: -1;
}

.t-shadow{
  filter: drop-shadow(0 0 0.1rem rgb(70, 90, 99));
}

